body {
    background: #0e031f;
    font-family: Tahoma, sans-serif;
}

.landing-text {
    position: absolute;
    top: 35%;
    left: 5%;
    text-indent: 0;
    font-size: 28pt;
    color: #fff;
    line-break: 0;
    line-height: 10pt;
}

.landing-btn {
    position: absolute;
    top: 50%;
    left: 5%;
    background: #04AA6D;
    height: 4vw;
    width: 15vw;
    font-size: 1.5vw;
    color:white;
    border-radius: 20px;
    transition: all .3s;
    border:none;
}

.landing-btn:hover {
    background: #15704f;
    cursor:pointer;
    transform: rotateZ(1deg);
}

@keyframes up-and-down {
    50% { top: 25%; }
    100% { top: 15%; }
}


.landing-img {
    position:absolute;
    top: 15%;
    right: 5%;
    animation: up-and-down 10s infinite;
}


.landing-menu {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:7.5%;
    background: #1b0936;
}


.landing-footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:5%;
    background: #1b0936;
}

.landing-footer p {
  color:white;
  text-align:center;
  text-transform: uppercase;
}

ul {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b0936;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1vw 2.2vw;
    text-decoration: none;
    font-size: 1vw;
    border-bottom: 1px solid #1b0936;
    transition: all .3s;
    box-shadow: none;
  }
  
  li a:hover:not(.active) {
    background-color: #4f1aa0;
    border-bottom: 1px solid #fff;
    box-shadow: 0 5px 1px white;
  }
  
  .active {
    background-color: #04AA6D;
    transition:all .3s;
  }

  .active:hover {
    background-color: #15704f;
  }



  .player {
    position:absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }